body {
    margin: 0;
    padding: 0;
}

canvas { 
    position: absolute;
    left: 50%;
    margin-left: -400px;
    border: 1px solid black;
}

#menu {
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background: rgba(182, 182, 182, .5);
}